<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest posts - Django forum</title>
    {% include 'modules/bootstrap.html' %}
</head>
<body>
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="/dashboard/" role="tab" aria-controls="v-pills-home" aria-selected="true">Dashboard</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/profile/" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                <a class="nav-link active" id="v-pills-messages-tab" data-toggle="pill" href="/posts/page/1" role="tab" aria-controls="v-pills-messages" aria-selected="false">Latest posts</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="/logout/ " role="tab" aria-controls="v-pills-settings" aria-selected="false">Logout</a>
                </div>
            </div>
            <div class="col-9">
                <ul>
                    {% for post in posts %}
                    <ul>
                        <div class="card">
                            <div class="card-header">
                                {{ post.title }}
                            </div>
                            <div class="card-body">
                                <p>{{ post.content | truncatechars:500 }}</p>
                            </div>
                            <div class="card-footer">
                                {{ post.postDateTime }}
                            </div>
                        </div>
                    </ul>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>